/* @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --pop-yellow: #fce600;
    --pop-gold: #f7c544;    
    --pop-orange: #f7931e;
    --pop-red: #ed1c24;
    --pop-green: #00c853;
    --pop-pink: #ff006c;
    --pop-blue: #45a3f8;
    --pop-purple: #863293;
    --pop-black: #000;

    --acc-yellow: #bfa600;   /* darker yellow */
    --acc-gold:   #b3862e;   /* darker gold */
    --acc-orange: #c65a00;   /* slightly darker orange */
    --acc-red:    #c10000;   /* deeper red */
    --acc-green:  #009933;   /* darker green */
    --acc-pink:   #d50058;   /* deeper pink */
    --acc-blue:   #0078d4;   /* darker blue */
    --acc-purple: #5c1f6a;   /* darker purple */
    --spaceunit: 1.5rem;
  }
@media (max-width: 768px){
   
}
body, html{
    padding:0;
    margin:0;
    width:100%;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #000;
    font-size: 20px;
    overflow-x: hidden;
}
.container.top-menu{
    position:fixed;
    z-index: 99;
    top:0;
    padding:calc(var(--spaceunit) / 2) var(--spaceunit);
    text-align: left;
    vertical-align: middle;
    background-image: url("../assets/header-svg/pixel-duck-bg.svg");
    background-size: cover;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.accessible-button {
    position: relative;
    background-color: #000;              /* Black background */
    color: var(--pop-yellow);                         /* White text */
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-family: inherit;
    display: inline-flex;
    width: auto;
    align-self: flex-start;  
    justify-content: center;
    align-items: center;   
    gap: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, outline 0.2s ease;
}
.accessible-button::before {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top: 0; right: 0; bottom: 0; left: 0 */
  transition: outline 0.2s ease;
  outline: 0px solid;            /* Visible keyboard focus outline */
  outline-color:var(--pop-yellow);
  outline-offset: -8px;
  pointer-events: none; /* so clicks go through the overlay */
}
.accessible-button:hover::before {
  outline:3px solid;
}

.accessible-button:focus {
  outline: 3px solid #000;            /* Visible keyboard focus outline */
  outline-offset: 2px;
}

.accessible-button:active {
  background-color: #444;             /* Clicked state */
}

.accessible-button:disabled {
  background-color: #999;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}

.bg-yellow{
    background-color: var(--pop-yellow);
    outline-color: var(--pop-yellow) !important;
}
.bg-gold{
    background-color: var(--pop-gold);
    outline-color: var(--pop-gold) !important;
}
.bg-orange{
    background-color: var(--pop-orange);
    outline-color: var(--pop-orange) !important;
}
.bg-red{
    background-color: var(--pop-red);
    outline-color: var(--pop-red) !important;
}
.bg-blue{
    background-color: var(--pop-blue);
    outline-color: var(--pop-blue) !important;
}
.bg-purple{
    background-color: var(--pop-purple);
    outline-color: var(--pop-purple) !important;
}
.bg-pink{
    background-color: var(--pop-pink);
    outline-color: var(--pop-pink) !important;
}
.bg-green{
    background-color: var(--pop-green);
    outline-color: var(--pop-green) !important;
}
.bg-acc-yellow{
    background-color: var(--acc-yellow);
    outline-color: var(--acc-yellow) !important;
}
.bg-acc-gold{
    background-color: var(--acc-gold);
    outline-color: var(--acc-gold) !important;
}
.bg-acc-orange{
    background-color: var(--acc-orange);
    outline-color: var(--acc-orange) !important;
}
.bg-acc-red{
    background-color: var(--acc-red);
    outline-color: var(--acc-red) !important;
}
.bg-acc-blue{
    background-color: var(--acc-blue);
    outline-color: var(--acc-blue) !important;
}
.bg-acc-purple{
    background-color: var(--acc-purple);
    outline-color: var(--acc-purple) !important;
}
.bg-acc-pink{
    background-color: var(--acc-pink);
    outline-color: var(--acc-pink) !important;
}
.bg-acc-green{
    background-color: var(--acc-green);
    outline-color: var(--acc-green) !important;
}

.bg-black{
    background-color: var(--pop-black);
    outline-color: var(--pop-black) !important;
}

h1, h2, h3, h4{
    font-family: "Playfair Display", serif;
    font-weight:700;
}
h1{
    font-size: 2rem;
    /* padding:var(--spaceunit); */
    margin:0;
    width:100%;
}
h2{
    font-size: 1.5rem;
    padding:calc(.75 * var(--spaceunit));
}
h3{
    font-size: 1.25rem;
    padding:calc(.625 * var(--spaceunit));
}
h4{
    font-size: 1rem;
    padding:calc(.625 * var(--spaceunit));
}
a{
    font-weight: 500;
    text-decoration: underline;
    color: var(--pop-black);
}
.scroll-tester{
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 1500px;
    margin-bottom:100px;
    background:black;
}
div{
    display:flex;
    justify-content: center;
}
.container{
    width:100%;
    margin: 0;
    padding: 0;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.container.header{
    height: 100%;
    min-height: 800px;
    position:relative;
    display: flex;
    align-items: center;
}
.header-img, .dog{
    width:100%;
    height:100%;
    position:absolute;
    background-size: contain;
    background-position:center center;
    background-repeat: no-repeat;
}
.header-img#bg{
    background-size:cover;
    /* height:95%; */
    height:100%;
    top:0;
    left:0;
    background-image: url("../assets/header-svg/pixel-duck-bg.svg");
}
.dog{
    top:50%;
    right:-20%;
}
.header-img#circles{
    background-image: url("../assets/header-svg/pixel-duck-circles-animated2.svg");
}
.header-img#plane1{
    background-image: url("../assets/header-svg/pixel-duck-plane1-01.svg");
}
.header-img#plane2{
    background-image: url("../assets/header-svg/pixel-duck-plane2-01.svg");
}
.header-img#plane3{
    background-image: url("../assets/header-svg/pixel-duck-plane3-01.svg");
}
.header-img#plane4{
    background-image: url("../assets/header-svg/pixel-duck-plane4-01.svg");
}
.header-img#drip{
    background-image: url("../assets/header-svg/pixel-duck-drip-01.svg");
}
.header-img#splash1{
    background-image: url("../assets/header-svg/pixel-duck-splash1-01.svg");
}
.header-img#splash2{
    background-image: url("../assets/header-svg/pixel-duck-splash2-01.svg");
}
.header-img#splash3{
    background-image: url("../assets/header-svg/pixel-duck-splash3-01.svg");
}
.header-img#city{
    background-image: url("../assets/header-svg/pixel-duck-city-01.svg");
}
.header-img#dog{
    background-image: url("../assets/header-svg/pixel-duck-dog-01.svg");
}
.header-img#top{
    background-image: url("../assets/header-svg/pixel-duck-top-01.svg");
}
/*title*/
.my-title{
    padding: var(--spaceunit);
    min-height:200px;
    position:relative;
    justify-content: left;
    top:0;
    left:0;
}
.my-title h1{
    text-align:left;
    width:580px;
    /* height:calc(90% - 2*var(--spaceunit)); */
    font-size: 4rem;
}
/*intro*/
.container.intro{
    width: 100vw;
    min-height:300px;
    display:flex;
    /* justify-content: left;
    align-items: center; */
}
.intro-container{
    width:100%;
    height: 500px;
    box-sizing: border-box;
    justify-content: left;
    padding-left: 350px;
    padding-top: 200px;
    background-color: var(--acc-purple);
    background-image: url("../assets/img/intro/profile.svg");
    /* background-size: 80% 80%; */
    background-position: bottom left;
    background-repeat: no-repeat;
    color: white;
}

.max-width-container{
    box-sizing: border-box;
    max-width:1200px !important;
    width:100% !important;
}
/*portfolio*/
.container.projects{
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    background-color: #f2f2f2;
    display:flex;
    align-items: center;
}
.project-container{
    box-sizing: border-box;
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: calc(4*var(--spaceunit));
    gap: var(--spaceunit);
    padding: calc(var(--spaceunit)*2) var(--spaceunit);
}
.project-container h1{
    padding:0 !important;
}
a.project-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height:560px;
    position: relative;
    float:left;
    width:100%;
    cursor: pointer;
    padding:var(--spaceunit);
    box-sizing: border-box;
}
a.project-item::before {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top: 0; right: 0; bottom: 0; left: 0 */
  background: rgba(255, 255, 255, 0); /* start fully transparent */
  transition: outline 0.2s ease;
  outline: 0px solid;            /* Visible keyboard focus outline */
  outline-color:white;
  outline-offset: calc(-.5*var(--spaceunit));
  z-index: 1;
  pointer-events: none; /* so clicks go through the overlay */
}

/* On hover: show white transparent overlay */
a.project-item:hover::before {
  outline: 3px solid;            /* Visible keyboard focus outline */
  outline-color:white;
}
a.project-item img{
    transform-origin: 130% 100%;
    transition: all .3s ease-out;
    align-self: center;
    height: 100%;
    margin-top:calc(-1*var(--spaceunit));
}

a.project-item:hover img{
    transform: rotate(2deg);
}

a.project-item, a.project-item:hover, a.project-item:active, a.project-item:visited{
    text-decoration: none;
}
a.project-item:focus {
  outline: 3px solid;            /* Visible keyboard focus outline */
  outline-offset: calc(.25*var(--spaceunit));
}

.project-item .caption, .project-item .title{
    width: calc(100% - 2*var(--spaceunit));
    bottom:0;
    color: white;
    position:absolute;
    box-sizing: border-box;
    font-weight: 300;
    bottom:var(--spaceunit);
    text-align: center;
}

.project-item .title{
    top:0;
    bottom:auto;
    font-family: "Playfair Display";
    font-size: 2rem;
    font-weight: 700;
    height:auto;
    padding:var(--spaceunit);
    padding-bottom: calc(.5*var(--spaceunit));
}
.project-item .caption b{
    font-size: 2rem;
}
.project-item .caption .CTA{
    width:100%;
    display: block;
    box-sizing: border-box;
    padding: calc(.5*var(--spaceunit));
    margin-top: calc(.5*var(--spaceunit));
    font-weight: 700;
    font-size: 1rem;
    background-color: white;
    color:var(--pop-black);
}

/*Prototype toggles*/
.prototype {
    padding:var(--spaceunit);
    height:auto;
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    gap: var(--spaceunit);
}

/* Buttons container */
.prototype .prototype-content .prototype-buttons {
    width: 100%;
}

/* Buttons */
.prototype .prototype-content .prototype-buttons .accessible-button {
    width: 50%;
}
.accessible-button.tab{
    /* position: relative; */
    background-color: transparent;
    color: var(--pop-black);
    border-bottom: dashed 3px rgba(0,0,0,.3);
}
.accessible-button.tab.active{
    border-bottom: solid var(--pop-black) 3px;
}
.accessible-button.tab.active:focus, .accessible-button.tab:focus {
  outline: 0px solid;            /* Visible keyboard focus outline */
  outline-offset: calc(.25*var(--spaceunit));
}

/* Wide screens: 1025px and up */
@media (min-width: 1025px) {
    a.project-item.small {
        width: calc((100% - var(--spaceunit)) / 3);
    }
    
    a.project-item.big {
        width: calc((100% - var(--spaceunit)) / 3 * 2);
    }
    
    a.project-item.medium {
        width: calc((100% - var(--spaceunit)) / 2);
    }
    
    a.project-item.full {
        width: 100%;
    }
}

/* Standard desktop and below: up to 1024px */
@media (max-width: 1024px) {
    .header-img {
        width: 200%;
        right: -50%;
    }
    .intro-container{
        height: 100vw;
        padding-top: 60%;
        padding-left: 50%;
        background-size: 70%;
        background-position: 0 100%;
    }
}


/* Small desktop / landscape tablet: up to 980px */
@media (max-width: 980px) {
    .my-title h1{
        font-size: 3rem;
        width:440px;
    }
    .header-img {
        width: 150%;
        right: -30%;
    }
    .project-grid {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    a.project-item {
        height: 500px;
    }
}

/* Tablet styles: up to 768px */
@media (max-width: 768px) {
  body, html {
    font-size: 16px;
  }
  .header-img {
    width: 150%;
    right: -30%;
  }

  .container.header {
    min-height: 400px;
  }
  .my-title h1 {
      font-size: 3.5rem;
    }
}
/* Mobile styles: up to 600px */
@media (max-width: 600px) {
    .my-title h1{
        font-size: 2.75rem;
        width:340px;
    }
    a.project-item {
        height: calc(100vw - 4 * var(--spaceunit));
    }
    a.project-item {
        height: 400px;
    }
    .intro-container{
      padding-left: 47%;
    }
}

.footer-text{
    padding-top: calc(2*var(--spaceunit));
    font-size: .75rem;
    box-sizing: border-box;
}